<nav>
  <ul class="header__list">
    <li><a href="{{ '/' | prepend: site.baseurl }}">Home</a></li>
    <li><a href="https://www.instagram.com/quanbay/">Instagram</a></li>
    <li><a href="https://www.facebook.com/quanbaymusic">Facebook</a></li>
    <li><a href="https://soundcloud.com/quanbaymusic">Soundcloud</a></li>
    <li><a href="https://open.spotify.com/artist/5bDlhnjgYHAwG4cQCzhe5s">Spotify</a></li>
    <li><a href="https://music.apple.com/us/artist/quan-bay/1081049378">Apple Music</a></li>
    <li><span class="popup__open">Contact</span></li>
  </ul>
</nav>